Table	Create Table
channels	CREATE TABLE `channels` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `category` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `businessSource` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `level1` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `level2` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `compoundKey` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `updatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `uniq_channel_compound` (`compoundKey`),\n  UNIQUE KEY `IDX_1c86662071bebfa9f839aa6e04` (`compoundKey`),\n  KEY `idx_channel_category` (`category`),\n  KEY `idx_business_source` (`businessSource`)\n) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
clues	CREATE TABLE `clues` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `visitDate` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `enterTime` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `leaveTime` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `receptionDuration` int NOT NULL DEFAULT '0',\n  `visitorCount` int NOT NULL DEFAULT '1',\n  `receptionStatus` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'sales',\n  `salesConsultant` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `customerName` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `customerPhone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `visitPurpose` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '看车',\n  `isReserved` tinyint NOT NULL DEFAULT '0',\n  `visitCategory` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '首次',\n  `focusModelId` int DEFAULT NULL,\n  `focusModelName` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `testDrive` tinyint NOT NULL DEFAULT '0',\n  `bargaining` tinyint NOT NULL DEFAULT '0',\n  `dealDone` tinyint NOT NULL DEFAULT '0',\n  `dealModelId` int DEFAULT NULL,\n  `dealModelName` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `businessSource` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '自然到店',\n  `channelCategory` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '线下',\n  `channelLevel1` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `channelLevel2` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `convertOrRetentionModel` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `referrer` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `contactTimes` int NOT NULL DEFAULT '1',\n  `opportunityLevel` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `userGender` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '未知',\n  `userAge` int NOT NULL DEFAULT '0',\n  `buyExperience` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '首购',\n  `userPhoneModel` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `currentBrand` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `currentModel` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `carAge` int NOT NULL DEFAULT '0',\n  `mileage` decimal(8,2) NOT NULL DEFAULT '0.00',\n  `livingArea` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `brandId` int DEFAULT NULL,\n  `regionId` int DEFAULT NULL,\n  `storeId` int NOT NULL,\n  `departmentId` int DEFAULT NULL,\n  `createdBy` int DEFAULT NULL,\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `updatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),\n  `customerId` int DEFAULT NULL,\n  `channelId` int DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  KEY `idx_brand` (`brandId`),\n  KEY `idx_region` (`regionId`),\n  KEY `idx_store` (`storeId`),\n  KEY `idx_created_by` (`createdBy`)\n) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
customers	CREATE TABLE `customers` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `phone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `gender` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '未知',\n  `age` int NOT NULL DEFAULT '0',\n  `buyExperience` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '首购',\n  `phoneModel` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `currentBrand` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `currentModel` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `carAge` int NOT NULL DEFAULT '0',\n  `mileage` decimal(8,2) NOT NULL DEFAULT '0.00',\n  `livingArea` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `updatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `uniq_customer_phone` (`phone`),\n  UNIQUE KEY `IDX_88acd889fbe17d0e16cc4bc917` (`phone`)\n) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
departments	CREATE TABLE `departments` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `parentId` int DEFAULT NULL,\n  `enabled` tinyint NOT NULL DEFAULT '1',\n  `createTime` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  PRIMARY KEY (`id`)\n) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
employee_store_links	CREATE TABLE `employee_store_links` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `employeeId` int NOT NULL,\n  `storeId` int NOT NULL,\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `uniq_employee_store` (`employeeId`,`storeId`),\n  KEY `idx_employee` (`employeeId`),\n  KEY `idx_store` (`storeId`)\n) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
employees	CREATE TABLE `employees` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `phone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `gender` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `status` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `role` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `brandId` int DEFAULT NULL,\n  `regionId` int DEFAULT NULL,\n  `storeId` int DEFAULT NULL,\n  `hireDate` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `updatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),\n  `departmentId` int DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `IDX_cbc362d1c574464a63d3acc3ea` (`phone`)\n) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
product_categories	CREATE TABLE `product_categories` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `parentId` int DEFAULT NULL,\n  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `slug` varchar(120) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `level` int NOT NULL DEFAULT '0',\n  `sortOrder` int NOT NULL DEFAULT '0',\n  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `updatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),\n  PRIMARY KEY (`id`),\n  KEY `idx_parent` (`parentId`),\n  KEY `idx_path` (`path`),\n  KEY `idx_status` (`status`)\n) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
product_category_links	CREATE TABLE `product_category_links` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `productId` int NOT NULL,\n  `categoryId` int NOT NULL,\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `updatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `uniq_product_category` (`productId`)\n) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
product_models	CREATE TABLE `product_models` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `brand` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `series` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `updatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),\n  `price` decimal(10,2) NOT NULL DEFAULT '0.00',\n  `status` tinyint NOT NULL DEFAULT '1',\n  `sales` int NOT NULL DEFAULT '0',\n  `engineType` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ICE',\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `uniq_model_name` (`name`),\n  UNIQUE KEY `IDX_42b1044f8796119d09e73cab43` (`name`)\n) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
role_permissions	CREATE TABLE `role_permissions` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `roleId` int NOT NULL,\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `permissionKey` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `uniq_role_permission` (`roleId`,`permissionKey`),\n  KEY `idx_role` (`roleId`),\n  KEY `idx_permission_key` (`permissionKey`)\n) ENGINE=InnoDB AUTO_INCREMENT=290 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
roles	CREATE TABLE `roles` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `roleCode` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `description` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `enabled` tinyint NOT NULL DEFAULT '1',\n  `createTime` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `updateTime` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),\n  `roleName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `IDX_6da95e99c706be73a6a4ba0c96` (`roleCode`),\n  UNIQUE KEY `uniq_role_code` (`roleCode`)\n) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
users	CREATE TABLE `users` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `userName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `passwordHash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `roles` text COLLATE utf8mb4_unicode_ci,\n  `enabled` tinyint NOT NULL DEFAULT '1',\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  `updatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),\n  `employeeId` int DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `IDX_226bb9aa7aa8a69991209d58f5` (`userName`),\n  UNIQUE KEY `IDX_a7191f881489123fab6c8e5273` (`employeeId`)\n) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
