-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: hxms_dev
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `clues`
--

LOCK TABLES `clues` WRITE;
/*!40000 ALTER TABLE `clues` DISABLE KEYS */;
INSERT INTO `clues` (`id`, `visitDate`, `enterTime`, `leaveTime`, `receptionDuration`, `visitorCount`, `receptionStatus`, `salesConsultant`, `customerName`, `customerPhone`, `visitPurpose`, `isReserved`, `visitCategory`, `focusModelId`, `focusModelName`, `testDrive`, `bargaining`, `dealDone`, `dealModelId`, `dealModelName`, `businessSource`, `channelCategory`, `channelLevel1`, `channelLevel2`, `convertOrRetentionModel`, `referrer`, `contactTimes`, `opportunityLevel`, `userGender`, `userAge`, `buyExperience`, `userPhoneModel`, `currentBrand`, `currentModel`, `carAge`, `mileage`, `livingArea`, `brandId`, `regionId`, `storeId`, `departmentId`, `createdBy`, `createdAt`, `updatedAt`, `customerId`, `channelId`) VALUES (1,'2025-10-01','12:03','19:03',420,1,'none','','韪╄俯韪?,'11526037522','鐪嬭溅',0,'棣栨',NULL,'',0,0,0,NULL,'','鑷劧鍒板簵','绾夸笂','DCC/ADC鍒板簵','DCC/ADC(鎳傝溅甯濓級','','',1,'A','鐢?,15,'棣栬喘','鍏朵粬','','',0,0.00,'杈藉畞鐪?鎶氶『甯?鎶氶『鍘?,6,9,11,NULL,NULL,'2025-10-23 12:03:58.578387','2025-10-23 12:03:58.578387',1,3);
/*!40000 ALTER TABLE `clues` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-28 14:48:18
